# Databáze PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"

# NextAuth.js
NEXTAUTH_SECRET="vygeneruj-bezpecny-secret-min-32-znaku"
NEXTAUTH_URL="https://your-domain.com"
