# Databáze
DATABASE_URL="postgresql://user:password@localhost:5432/klientska_platforma?schema=public"

# NextAuth.js
NEXTAUTH_SECRET="your-secret-key-change-in-production"
NEXTAUTH_URL="http://localhost:3000"
